.list-container {
  border-right: 1px solid green;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-main {
  height: 100%;
  width: 100%;
}

.list-footer {
  padding: 20px;
}
